<a href="https://colab.research.google.com/github/yguswn1/tensorflow-python/blob/main/%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비합니다.
파일경로 = '/content/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델의 구조를 만듭니다
x = tf.keras.layers.Input(shape=[13])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [ ]:
# 3. 데이터로 모델을 학습(fit)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4841
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4886
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 24.8772
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.9043
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5722
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3920
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5453
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.9999
Epoch 9/10
16/16 [==============================] - 0s 961us/step - loss: 24.7110
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 25.0471

In [ ]:
# 4. 모델을 이용합니다.
model.predict(독립[5:10])

array([[25.255627],
       [21.231888],
       [18.181824],
       [ 9.902168],
       [17.62207 ]], dtype=float32)

In [ ]:
종속[5:10] #슬라이싱-일부만 끊어서 보는

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [ ]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.08947734],
        [ 0.05079494],
        [-0.04221448],
        [ 2.85418   ],
        [ 1.8343556 ],
        [ 5.1688814 ],
        [-0.00944609],
        [-0.9880529 ],
        [ 0.17702599],
        [-0.01092464],
        [-0.36259216],
        [ 0.01329063],
        [-0.47995928]], dtype=float32), array([3.7556925], dtype=float32)]